################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

#ConnectionStrings.config
/*/*.config

# User-specific files
*.suo
*.user
*.userosscache
*.idea/
*.icloud

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
.vscode/
.sonarqube
packages/
node_modules/

/.vs
.github